* {
    padding: 0;
    margin: 0;
}

header {
    font-family: "Madimi One", sans-serif;
    background-color: rgb(111, 236, 245);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header figure img {
    width: 3rem;
    height: auto;
}

header figure{
    display: flex;
    align-items: center;
}

header figure figcaption {
    font-weight: bold;
    font-size: 2rem;
}

/**********************************************************/

main {
    display: grid;
    grid-template-rows: repeat(2, auto);
    background-color: rgb(252, 252, 122);
}

.Ranking {
    margin-top: 20px;
    margin-left: 3%;
    min-width: 30rem;
    max-width: 50rem;
    height: 40rem;
    grid-row: 1 / span 1;
    font-family: "Josefin Sans", sans-serif;
}

.Ranking h2 {
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
}

.Ranking img {
    width: 15%;
    height: auto;
}

.Ranking figure{
    display: flex;
    align-items: center;
}

.Ranking figure figcaption {
    margin-left: 5%;
}

.Ranking .background {
    margin-top: 10px;
    background-color: white;
    display: flex;
    width: 35rem;
    height: 35rem;
    border: white solid 1px;
    border-radius: 30px;
    box-shadow: 12px -12px rgb(214, 214, 214);
    align-items: center;
    justify-content: center;
}

.Ranking .background:hover {
    box-shadow: -20px 20px rgb(153, 153, 153);
    margin-top: -4px;
    margin-left: 4px;
    transition: 0.5s;
}

table, th, td{
    border: black solid 1px;
    border-collapse: collapse;
    box-sizing: content-box;
}

.Ranking table {
    width: 30rem;
    height: 30rem;
}

.Ranking table thead th{
    font-size: 1.3rem;
    height: 2rem;
}

.Ranking table tbody td{
    font-size: 1rem;
}

.Ranking thead th:nth-child(1) {
    width: 3rem;
}

.Ranking tbody td:nth-child(1) {
    width: 3rem;
    text-align: center;
}

.Ranking thead th:nth-child(2) {
    width: 15rem;
    text-align: center;
}

.Ranking tbody td:nth-child(2) {
    width: 15rem;;
    text-align: left;
}

.Ranking thead th:nth-child(3) {
    width: 4rem;
}

.Ranking tbody td:nth-child(3) {
    width: 4rem;
    text-align: center;
}

.Ranking thead th:nth-child(4) {
    width: 3rem;
}

.Ranking tbody td:nth-child(4) {
    width: 3rem;
    text-align: center;
}

.Ranking thead th:nth-child(5) {
    width: 5rem;
}

.Ranking tbody td:nth-child(5) {
    width: 5rem;
    text-align: center;
} 

.Ranking .w {
    background-color: rgb(171, 248, 57);
}

.Ranking tfoot{
    border: 2px white solid;
    font-size: 1.3rem;
}

/************** NEW SECTION *******************************/
.Schedule {
    margin-left: 3%;
    grid-row: 2 / span 1;
    font-family: "Josefin Sans", sans-serif;
}

.Schedule h2 {
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}

.Schedule .table {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.Schedule figure{
    display: flex;
    align-items: center;
    width: 3.5rem;
}

.Schedule figure figcaption {
    margin-left: 5%;
}

.Schedule .table table {
    width: 15rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.Schedule figure img {
    width: 45%;
    height: auto;
}

.Schedule thead th:nth-child(1){
    width: 5rem;
    text-align: center;
    padding: 0.5rem;
} 

.Schedule tbody td:nth-child(1), .Schedule tbody td:nth-child(4) {
    width: 4rem;
    text-align: center;
    padding: 0.5rem;
} 

.Schedule tbody td:nth-child(2), .Schedule tbody td:nth-child(3) {
    width: 3.5rem;
    text-align: center;
} 

.Schedule .background {
    margin-top: 10px;
    background-color: white;
    display: flex;
    width: 20rem;
    height: 40rem;
    border: white solid 1px;
    border-radius: 30px;
    box-shadow: 12px -12px rgb(214, 214, 214);
    align-items: center;
    justify-content: center;
}

.Schedule .background:hover {
    box-shadow: -10px 10px rgb(153, 153, 153);
    margin-top: -4px;
    margin-left: 4px;
    transition: 0.5s;
}

.Schedule .none {
    display: none;
}

.Schedule .notstart td:nth-child(1), .Schedule .notstart td:nth-child(3) {
    width: 4rem;
    text-align: center;
    padding: 0.5rem;
} 

.Schedule .notstart td:nth-child(2){
    width: 7rem;
    text-align: center;
} 

.Schedule .time {
    color: #1face9;
    font-weight: bold;
}

.Schedule .w {
    background-color: rgb(144, 235, 9);
}

/*
@media only screen and (max-width: 500px) {
    .Ranking {
        height: auto;
        width: 100%;
        grid-row: 1 / span 1;
        font-family: "Josefin Sans", sans-serif;
    }

    .Ranking h2 {
        font-family: "Madimi One", sans-serif;
        font-size: 20px;
    }

    .Ranking figure figcaption {
        margin-left: 0;
    }

    .Ranking .background {
        margin-top: 0px;
        background-color: white;
        display: flex;
        border: white solid 1px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }

    .Ranking .background:hover {
        box-shadow: -10px 10px rgb(153, 153, 153);
        margin-top: -4px;
        margin-left: 4px;
        transition: 0.5s;
    }

    .Ranking table {
        width: 80%;
        height: auto;
    }

    .Ranking table thead th{
        font-size: 14px;
    }

    .Ranking table tbody td{
        font-size: 12px;
    }

    .Ranking thead th:nth-child(1) {
        width: 10%;
    }

    .Ranking tbody td:nth-child(1) {
        width: 10%;
        text-align: center;
    }

    .Ranking thead th:nth-child(2) {
        width: 50%;
        text-align: center;
    }

    .Ranking tbody td:nth-child(2) {
        width: 50%;
        text-align: left;
    }

    .Ranking thead th:nth-child(3) {
        width: 15%;
    }

    .Ranking tbody td:nth-child(3) {
        width: 15%;
        text-align: center;
    }

    .Ranking thead th:nth-child(4) {
        width: 10%;
    }

    .Ranking tbody td:nth-child(4) {
        width: 10%;
        text-align: center;
    }

    .Ranking thead th:nth-child(5) {
        width: 15%;
    }

    .Ranking tbody td:nth-child(5) {
        width: 15%;
        text-align: center;
    }
    .Ranking tfoot{
        border: 2px white solid;
        font-size: 12px;
    }

    .Schedule {
        margin-left: 3%;
        grid-row: 2 / span 1;
        font-family: "Josefin Sans", sans-serif;
    }
    
    .Schedule h2 {
        font-family: "Madimi One", sans-serif;
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    .Schedule .table {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    
    .Schedule figure{
        display: flex;
        align-items: center;
        width: 3.5rem;
    }
    
    .Schedule figure figcaption {
        margin-left: 5%;
    }
    
    .Schedule .table table {
        width: 15rem;
        box-sizing: border-box;
        font-size: 1rem;
    }
    
    .Schedule figure img {
        width: 45%;
        height: auto;
    }
    
    .Schedule thead th:nth-child(1){
        width: 5rem;
        text-align: center;
        padding: 0.5rem;
    } 
    
    .Schedule tbody td:nth-child(1), .Schedule tbody td:nth-child(4) {
        width: 4rem;
        text-align: center;
        padding: 0.5rem;
    } 
    
    .Schedule tbody td:nth-child(2), .Schedule tbody td:nth-child(3) {
        width: 3.5rem;
        text-align: center;
    } 
    
    .Schedule .background {
        margin-top: 10px;
        background-color: white;
        display: flex;
        width: 20rem;
        height: 40rem;
        border: white solid 1px;
        border-radius: 30px;
        box-shadow: 12px -12px rgb(214, 214, 214);
        align-items: center;
        justify-content: center;
    }
    
    .Schedule .background:hover {
        box-shadow: -10px 10px rgb(153, 153, 153);
        margin-top: -4px;
        margin-left: 4px;
        transition: 0.5s;
    }
    
    .Schedule .none {
        display: none;
    }
    
    .Schedule .notstart td:nth-child(1), .Schedule .notstart td:nth-child(3) {
        width: 4rem;
        text-align: center;
        padding: 0.5rem;
    } 
    
    .Schedule .notstart td:nth-child(2){
        width: 7rem;
        text-align: center;
    } 
    
    .Schedule .time {
        color: #1face9;
        font-weight: bold;
    }
    
    .Schedule .w {
        background-color: rgb(144, 235, 9);
    }
}*/
